body {
    background-color: white;
    font-family: Arial, sans-serif;
}

ul {
    margin: 7px 0 0 10px;
}

li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: -0%;
    margin-left: -20px;
    color: #000;
    opacity: 0.75;
}

li a {
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}