    * {
        background-color: white;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    li {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    
    li a {
        font-size: 13px;
        padding: 0px 0px 0px 15px;
        text-decoration: none;
    }
    
    li a:hover {
        text-decoration: underline;
    }
    
    #right-nav {
        margin-top: 0px;
        padding: 10px 5px;
    }
    
    #search-wrapper {
        text-align: center;
    }
    
    #google-image {
        display: block;
        margin: auto;
        position: relative;
        padding-top: 08%;
    }
    
    #search-box {
        display: inline-block;
        box-sizing: content-box;
        border-radius: 50px;
        width: 300px;
        height: 40px;
        line-height: 27px;
        text-indent: 10px;
        font-size: 1em;
        color: #333;
        background: #fff;
        border: solid 1px #d9d9d9;
        border-top: solid 1px #c0c0c0;
        border-right: none;
    }
    
    input:hover {
        box-shadow: 05px 0px;
    }