* {
    background-color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

li a {
    font-size: 13px;
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#right-nav {
    margin-top: 0px;
    padding: 10px 5px;
}

#google-image {
    display: block;
    margin: auto;
    position: relative;
    padding-top: 10%;
}